$primaryColor: #CC9C47;
$primaryDarkColor: #9C7841;
$primaryLightColor: #F0C475;
$accentColor: #C94135; 
$accentDarkColor: #7E0B02;
$accentLightColor: #FF978F;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;

@import '../../sass/layout/_layout';