.introjs-helperNumberLayer {
  font-family: "Roboto","Helvetica Neue",sans-serif;
  font-size: 14px;
  text-shadow: none;
  width: 20px;
  height: 20px;
  line-height: 22px;
  border: 2px solid #ecf0f1;
  border-radius: 50%;
  background: #1BDD0A;
   
}

.introjs-helperLayer {
	text-align:center;
  background-color: #FFF;
  background-color: rgba(255,255,255,.9);
  border: none;
  border-radius: 3px;
 
}

.introjs-tooltip {
  letter-spacing: .1em;
  color: #212121;
  font-family: "Roboto","Helvetica Neue",sans-serif;
  border-radius: 3px;
  font-size: 14px;
  padding: 19px;
 
}

.introjs-button {
  padding: 9px 13px 9px 11px !important;
  
  font-size: 14px;
  text-align: center center;
  text-shadow: none;

  border: 0 none;
  color: #FFF;
  font-family: "Roboto","Helvetica Neue",sans-serif;
  background:  #2A91BE;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
 border-radius: 3px;
  box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  -webkit-transition: background .3s, ;
     -moz-transition: background .3s, ;
      -ms-transition: background .3s, ;
       -o-transition: background .3s, ;
          transition: background .3s, ;
          
}

.introjs-prevbutton {
  border-radius: .2em 0 0 .2em;
}

.introjs-nextbutton {
  border-radius: 0 .2em .2em 0;
}

.introjs-button:hover, .introjs-button:focus {
  background: #1074BA;
  color: #fff;
  box-shadow: none;
  border-color: transparent;
  text-decoration: none;
}

.introjs-bullets ul li a.active {
    background: #1074BA; }


   
   
   
   
   
   
    
    