@CHARSET "UTF-8";
/* Floating */
.Fleft{ float:left;}
.Fright{ float:right;}
.Fnone{ float:none !important;}

/* Font Sizes */
.Fs9{font-size:9px !important;} 
.Fs10{font-size:10px !important;} 
.Fs11{font-size:11px !important;} 
.Fs12{font-size:12px !important;} 
.Fs13{font-size:13px !important;} 
.Fs14{font-size:14px !important;} 
.Fs15{font-size:15px !important;} 
.Fs16{font-size:16px !important;} 
.Fs17{font-size:17px !important;} 
.Fs18{font-size:18px !important;} 
.Fs19{font-size:19px !important;} 
.Fs20{font-size:20px !important;} 
.Fs21{font-size:21px !important;} 
.Fs22{font-size:22px !important;} 
.Fs23{font-size:23px !important;} 
.Fs24{font-size:24px !important;} 
.Fs25{font-size:25px !important;} 
.Fs26{font-size:26px !important;} 
.Fs27{font-size:27px !important;} 
.Fs28{font-size:28px !important;} 
.Fs29{font-size:29px !important;} 
.Fs30{font-size:30px !important;}
.Fs40{font-size:40px !important;}
.Fs50{font-size:50px !important;}
.Fs60{font-size:60px !important;}
.Fs100{font-size:100px !important;}
.Fs130{font-size:130px !important;}


/* Empty Boxes */
.EmptyBox1{ display:block; width:100% !important; height:1px !important; overflow:hidden !important;}
.EmptyBox5{ display:block; width:100% !important; height:5px !important; overflow:hidden !important;}
.EmptyBox10{ display:block; width:100% !important; height:10px !important; overflow:hidden !important;}
.EmptyBox15{ display:block; width:100% !important; height:15px !important; overflow:hidden !important;}
.EmptyBox20{ display:block; width:100% !important; height:20px !important; overflow:hidden !important;}
.EmptyBox30{ display:block; width:100% !important; height:30px !important; overflow:hidden !important;}
.EmptyBox40{ display:block; width:100% !important; height:40px !important; overflow:hidden !important;}
.EmptyBox50{ display:block; width:100% !important; height:50px !important; overflow:hidden !important;}
.EmptyBox60{ display:block; width:100% !important; height:60px !important; overflow:hidden !important;}
.EmptyBox70{ display:block; width:100% !important; height:70px !important; overflow:hidden !important;}
.EmptyBox80{ display:block; width:100% !important; height:80px !important; overflow:hidden !important;}
.EmptyBox90{ display:block; width:100% !important; height:90px !important; overflow:hidden !important;}
.EmptyBox100{ display:block; width:100% !important; height:100px !important; overflow:hidden !important;}
.EmptyBox110{ display:block; width:100% !important; height:100px !important; overflow:hidden !important;}
.EmptyBox120{ display:block; width:100% !important; height:100px !important; overflow:hidden !important;}
.EmptyBox130{ display:block; width:100% !important; height:100px !important; overflow:hidden !important;}
.EmptyBox140{ display:block; width:100% !important; height:100px !important; overflow:hidden !important;}
.EmptyBox150{ display: block; width: 100% !important; height:150px !important; overflow:hidden !important;}



/* text colors */
.red{color:#D0525D !important;}
.blue{color:#33AFDE !important;}
.green{color:#5fcf80 !important;}
.orange{color:#F7941E !important;}
.white{color:#F1F6F9 !important;}
.softgray{color:#C3CCD5 !important;}
.gray{color:#778D9B !important;}
.black{color:#3B3D3F !important;}
.holdBlue{color:#2A91BE !important;font-size: 12px !important;}


/* Width */
.Wid100{ width:100%;}
.Wid90{ width:90%;}
.Wid80{ width:80%;}
.Wid70{ width:70%;}
.Wid60{ width:60%;}
.Wid50{ width:50%;}
.Wid45{ width:45%;}
.Wid40{ width:40%;}
.Wid30{ width:30%;}

/* Width Special Values */
.Wid33{ width:33.3%;}
.Wid25{ width:25%;}
.Wid20{ width:20%;}
.Wid10{ width:10%;}

.MarTop5{ margin-top:5px;}
.MarTop10{ margin-top:10px;}
.MarTop20{ margin-top:20px;}
.MarTop30{ margin-top:30px;}
.MarTop40{ margin-top:40px;}
.MarTop50{ margin-top:50px;}

.MarTopQuarter{ margin-top:25%;}
.MarTopHalf{ margin-top:50%;}

.MarBot10{ margin-bottom:10px;}
.MarRight10{ margin-right:10px;}
.MarRight20{ margin-right:20px;}

.Seperator{border-bottom:solid 1px #C3CCD5; width:100%; overflow:hidden; height:0px; margin:15px 0px; float:left;}

/* Font Type */
.FontBold{ font-weight:bold !important;}
.FontLight{ font-weight:lighter !important;}
.FontNormal{ font-weight:normal !important;}
.FontItalic{ font-style: italic !important;}
body .ui-inputfield.ui-state-disabled {
    opacity: 1;
    color: #000000;
}
/* text size*/
/* .BigTopic{ font-weight: bold !important; font-size: 25px !important;} */

/* START of THEME override   */

    .landing-wrapper #header .header-top .logo {
      display: inline-block !important;
      vertical-align: middle !important;
      width: 200px !important;
      height: 30px !important;
      background-position: center;
      background: url("#{resource['hls:images/logo1.png']}") top no-repeat !important;  }



@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .landing-wrapper .header .header-top .logo {
    background: url("#{resource['hls:images/logo1.png']}") top no-repeat !important;
    background-position: right;
    background-size: 200px 30px  !important ;} }
    
  .layout-wrapper .topbar .logo {
    display: inline-block !important;
    vertical-align: middle !important;
    width: 284px !important;
    height: 75px !important;
    background-position: right;
    background: url("#{resource['hls:images/logo1.png']}") top no-repeat !important;
    background-size: 235px !important; }
   
  .layout-wrapper .topbar .topbar-left {
    box-sizing: border-box !important;
    padding: 4px 10px !important;
    height: 75px !important;
    width: 300px !important;
    background-color: #FFFFFF !important;
    float: left !important;
    -webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3) !important; }
    
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .layout-wrapper .topbar .logo {
    background: url("#{resource['hls:images/logo1.png']}") top no-repeat !important;
    background-position: center;
    background-size: 220px 60px !important; } }    
    
div.fc-center {
	font-size: 0.6em !important;
    padding-top: 6px !important;
    font-weight: 400 !important;
}        
th.fc-day-header.ui-widget-header.fc-tue {
	font-size: 0.9em !important;
	font-weight: 400 !important;
}
td.fc-axis.ui-widget-content {
	font-size: 0.9em !important;
}
.ui-column-title {
	font-weight: 501 !important;
}


  .dashboard .colorbox .colorbox-name {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    margin: 4px 0 10px 0;
    color: #ffffff; }
  .dashboard .colorbox .colorbox-count {
    color: #ffffff;
    font-size: 36px; }
  .dashboard .colorbox .colorbox-count {
    font-weight: bold; }
  .dashboard .colorbox.colorbox-green div:first-child {
    background-color: #62D0BD; }
  .dashboard .colorbox.colorbox-green div:last-child {
    background-color: #229D88; }
    
  .dashboard .colorbox.colorbox-amber div:first-child {
    background-color: #A76500; }
  .dashboard .colorbox.colorbox-amber div:last-child {
    background-color: #FF9A00; }
    
  .dashboard .colorbox.colorbox-red div:first-child {
    background-color: #C51B00; }
  .dashboard .colorbox.colorbox-red div:last-child {
    background-color: #FF2300; }






 .hsTH {
    font-weight:bold !important;
    font-size:15px !important;
 }
 .hsTD {
    font-weight:lighter !important;
    font-size:15px !important;
 }
 
 .hsPointsRed {
    color: #FF2300;
 }
 .hsPointsAmber {
    color: #FF9A00;
 } 
 .hsPointsGreen {
    color: #4CAF50;
 }  
 
.outputTextArea{
	width: 100%; 
	word-wrap: break-word;
}

.panelLabel{
	font-weight: bold;
	padding-right: 10px;
	display: inline-block;
	font-size: 15px;
	margin-bottom: 5px;
}
.panelContent{
	font-weight: normal;
	display: inline-block;
}
.panelBlock{
	border: 0.5pt solid #eeeeee;
	display: block; 
}

.ui-autocomplete-input.ui-autocomplete-dd-input{
	width: 95% !important;
	
}
.login-panel {
   
    width: 400px !important; }
    
 .dashboard .colorbox.colorbox-1 div:last-child {background-color: #a39e7d !important;}
.dashboard .colorbox.colorbox-1 div:first-child {background-color: #7d7008 !important;}

 .dashboard .colorbox.colorbox-2 div:last-child {background-color: #D79E43 !important;}
.dashboard .colorbox.colorbox-2 div:first-child {background-color: #BB7F21 !important;} 

    
.dashboard .colorbox.colorbox-3 div:last-child {background-color: #e5cca5 !important;}
.dashboard .colorbox.colorbox-3 div:first-child {background-color:#977949 !important;}
   
.dashboard .colorbox.colorbox-4 div:last-child {background-color: #216AB5 !important;}
.dashboard .colorbox.colorbox-4 div:first-child {background-color:  #064282 !important;}

 .dashboard .colorbox.colorbox-5 div:last-child {background-color: #966434 !important;}
.dashboard .colorbox.colorbox-5 div:first-child {background-color: #572b00 !important;} 

    
.dashboard .colorbox.colorbox-6 div:last-child {background-color: #ff6156 !important;}
.dashboard .colorbox.colorbox-6 div:first-child {background-color: #ee3124 !important;}


.dashboard .colorbox.colorbox-9A div:last-child {background-color: #62D0BD !important;}
.dashboard .colorbox.colorbox-9A div:first-child {background-color: #229D88 !important;}


.dashboard .colorbox.colorbox-7 div:last-child {background-color: #8E8F8E !important;}
.dashboard .colorbox.colorbox-7 div:first-child {background-color: #6B6C6B !important;}



    .redRow {
       background-color: #D0525D !important;
       color: white !important;
       font-weight: 500 !important;
    }
    
     .greenRow {
       background-color: #5fcf80 !important;
       color: white !important;
       font-weight: 500 !important;
    }
.breakWord {
	word-wrap: break-word;
}

.columnW10 {width: 10%;}
.columnW20 {width: 20%;}
.columnW30 {width: 30%;}
.columnW40 {width: 40%;}
.columnW50 {width: 50%;}




.ui-paginator.ui-widget-header {
	background-color: white;
	border-right: 1px solid #bdbdbd;
	border-left: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	border-top: 1px solid #bdbdbd;
	color: #666666 !important;
}

.ui-paginator.ui-paginator-bottom.ui-widget-header.ui-corner-bottom {
	background-color: white;
	border-right: 1px solid #bdbdbd;
	border-left: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	color: #666666 !important;
}
a.ui-paginator-next.ui-state-default.ui-corner-all.ui-state-disabled {color: #999999;}
a.ui-paginator-prev.ui-state-default.ui-corner-all.ui-state-disabled {color: #999999;}
a.ui-paginator-last.ui-state-default.ui-corner-all.ui-state-disabled {color: #999999;}
a.ui-paginator-first.ui-state-default.ui-corner-all.ui-state-disabled {color: #999999}
a.ui-paginator-first.ui-state-default.ui-corner-all {color: #666666 ;}
a.ui-paginator-last.ui-state-default.ui-corner-all {color: #666666 ;}
a.ui-paginator-first.ui-state-default.ui-corner-all.ui-state-hover {background-color: #666666;color: #fff;}
a.ui-paginator-last.ui-state-default.ui-corner-all.ui-state-hover {background-color: #666666;color: #fff;}
a.ui-paginator-next.ui-state-default.ui-corner-all {color: #666666 ;}
a.ui-paginator-next.ui-state-default.ui-corner-all.ui-state-hover {background-color: #666666;color: #fff;}
a.ui-paginator-prev.ui-state-default.ui-corner-all {color: #666666 ;}
a.ui-paginator-prev.ui-state-default.ui-corner-all.ui-state-hover {background-color: #666666;color: #fff;}
a.ui-paginator-page.ui-state-default.ui-state-active.ui-corner-all {color: #fff;}
a.ui-paginator-page.ui-state-default.ui-corner-all {color: #666666;}
a.ui-paginator-page.ui-state-default.ui-corner-all {background-color: #dddddd;}
a.ui-paginator-page.ui-state-default.ui-corner-all.ui-state-active {background-color: #CC9C47;}
a.ui-paginator-page.ui-state-default.ui-corner-all.ui-state-hover {background-color: #666666;color: #fff;}
span.ui-paginator-current {color: #666666 ;}

@media (max-width: 1024px),(max-height: 600px),(orientation: portrait){
	
	.ui-dialog{width: 98.5% !important; height: 98.5% !important;  overflow-y: scroll !important; overflow-x: hidden !important; position: fixed; }	
}
.secondaryText {
	color: #572b00; 
}
.mandetory-coming-soon{
	background-color: aqua;
	background-image: url("../../images/comingSoon.png");
	background-repeat: no-repeat;
background-position: center -126px;
background-size: 100vw;
	
}

@media (max-width: 399px){
	.layout-wrapper .topbar .topbar-left {
	width: 250px !important;
	}
	.layout-wrapper .topbar .logo {
	width: 232px !important;
	}
	
}