<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/mersetadatasource</property>
		<!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/merseta?zeroDateTimeBehavior=convertToNull</property> 
			<property name="hibernate.connection.username">hendrik</property> <property name="hibernate.connection.password">sapiens02$</property> -->
		<!-- <property name="hibernate.cache.use_second_level_cache">true</property> <property name="hibernate.cache.use_query_cache">true</property> <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property> -->
		<property name="connection.encryptor_registered_name">strongHibernateStringEncryptor</property>
		<property name="current_session_context_class">thread</property>
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.jdbc.batch_size">50</property>
		<!-- ENTITIES -->
		<mapping class="haj.com.entity.TrainingProviderLearnership" />
		<mapping class="haj.com.entity.AssessorModReRegistration" />
		<mapping class="haj.com.entity.SDPReAccreditation" />
		<mapping class="haj.com.entity.CollectDetail" />
		<mapping class="haj.com.entity.AssessorModExtensionOfScope" />
		<mapping class="haj.com.entity.TrainingProviderDocParent" />
		<mapping class="haj.com.entity.UserChangeRequest" />
		<mapping class="haj.com.entity.TrainingProviderSkillsProgramme" />
		<mapping class="haj.com.entity.TrainingProviderSkillsSet" />
		<mapping class="haj.com.entity.ReviewCommitteeMeeting" />
		<mapping class="haj.com.entity.ReviewCommitteeMeetingUsers" />
		<mapping class="haj.com.entity.ReviewCommitteeMeetingAgenda" />
		<mapping class="haj.com.entity.Appointment" />
		<mapping class="haj.com.entity.HAJProperties" />
		<mapping class="haj.com.entity.Users" />
		<mapping class="haj.com.entity.Municipality" />
		<mapping class="haj.com.entity.MunicipalityType" />
		<mapping class="haj.com.entity.OfoCodes" />
		<mapping class="haj.com.entity.Province" />
		<mapping class="haj.com.entity.YesNoLookup" />
		<mapping class="haj.com.entity.Address" />
		<mapping class="haj.com.entity.AddressHistory" />
		<mapping class="haj.com.entity.ConfigDoc" />
		<mapping class="haj.com.entity.Doc" />
		<mapping class="haj.com.entity.Images" />
		<mapping class="haj.com.entity.Company" />
		<mapping class="haj.com.entity.CompanyTradeTestEmployer" />
		<mapping class="haj.com.entity.SDFCompany" />
		<mapping class="haj.com.entity.SDFCompanyHistory" />
		<mapping class="haj.com.entity.CompanyUnitStandard" />
		<mapping class="haj.com.entity.CompanyQualifications" />
		<mapping class="haj.com.entity.UserUnitStandard" />
		<mapping class="haj.com.entity.UserSkillsProgramme" />
		<mapping class="haj.com.entity.UserLearnership" />
		<mapping class="haj.com.entity.UserQualifications" />
		<mapping class="haj.com.entity.HostingCompanyEmployees" />
		<mapping class="haj.com.entity.HostingCompany" />
		<mapping class="haj.com.entity.HostingCompanyCompanies" />
		<mapping class="haj.com.entity.BankingDetails" />
		<mapping class="haj.com.entity.MailLog" />
		<mapping class="haj.com.entity.TaskUsers" />
		<mapping class="haj.com.entity.Tasks" />
		<mapping class="haj.com.entity.DocumentTracker" />
		<mapping class="haj.com.entity.HostingCompanyProcess" />
		<mapping class="haj.com.entity.UsersRole" />
		<mapping class="haj.com.entity.ProcessRoles" />
		<mapping class="haj.com.entity.UsersType" />
		<mapping class="haj.com.entity.HostingCompanyDepartments" />
		<mapping class="haj.com.entity.HostingCompanyDepartmentsEmployees" />
		<mapping class="haj.com.entity.HostingCompanyDepartmentProcess" />
		<mapping class="haj.com.entity.CompanyUsersHistory" />
		<mapping class="haj.com.entity.CompanyUsers" />
		<mapping class="haj.com.entity.UsersTrainingProvider" />
		<mapping class="haj.com.entity.CompanyHostingCompany" />
		<mapping class="haj.com.entity.UserHostingCompany" />
		<mapping class="haj.com.entity.AssessorModeratorCompany" />
		<mapping class="haj.com.entity.EmployeesImport" />
		<mapping class="haj.com.entity.Employees" />
		<mapping class="haj.com.entity.EmployeesHistory" />
		<mapping class="haj.com.entity.TrainingComittee" />
		<mapping class="haj.com.entity.TrainingComitteeHistory" />
		<mapping class="haj.com.entity.Wsp" />
		<mapping class="haj.com.entity.WspSkillsRequirements" />
		<mapping class="haj.com.entity.WspSkillsGap" />
		<mapping class="haj.com.entity.Sites" />
		<mapping class="haj.com.entity.EmployeesTraining" />
		<mapping class="haj.com.entity.EmployeesImportTraining" />
		<mapping class="haj.com.entity.ImpactOfStaffTraining" />
		<mapping class="haj.com.entity.WspSignoff" />
		<mapping class="haj.com.entity.HostingCompanyTemplates" />
		<mapping class="haj.com.entity.BugReport" />
		<mapping class="haj.com.entity.WspChecklist" />
		<mapping class="haj.com.entity.WspDispute" />
		<mapping class="haj.com.entity.MandatoryGrant" />
		<!-- <mapping class="haj.com.entity.Learners" /> -->
		<mapping class="haj.com.entity.CompanyLearners" />
		<mapping class="haj.com.entity.InterSetaTransfer" />
		<mapping class="haj.com.entity.WspImpactOfStaffTraining" />
		<mapping class="haj.com.entity.ChangeReason" />
		<mapping class="haj.com.entity.DgVerification" />
		<mapping class="haj.com.entity.MgVerification" />
		<mapping class="haj.com.entity.MgVerificationCompleted" />
		<mapping class="haj.com.entity.UpdateAuditTrail" />
		<mapping class="haj.com.entity.UpdateAuditTrailChanges" />
		<mapping class="haj.com.entity.ExtensionRequest" />
		<mapping class="haj.com.entity.Signoff" />
		<mapping class="haj.com.entity.DgVerificationSites" />
		<mapping class="haj.com.entity.MandatoryGrantRecommendation" />
		<mapping class="haj.com.entity.WorkPlaceApproval" />
		<mapping class="haj.com.entity.DocByte" />
		<mapping class="haj.com.entity.SiteVisit" />
		<mapping class="haj.com.entity.UsersResponsibilities" />
		<mapping class="haj.com.entity.RejectReasonsChild" />
		<mapping class="haj.com.entity.SupportEmails" />
		<mapping class="haj.com.entity.CompanyHistory" />
		<mapping class="haj.com.entity.OnScreenHelp" />
		<mapping class="haj.com.entity.MandatoryGrantDetail" />
		<mapping class="haj.com.entity.UsersResponsibilitiesHistory" />
		<mapping class="haj.com.entity.DgAllocation" />
		<mapping class="haj.com.entity.FrequentlyAskedQuestions" />
		<mapping class="haj.com.entity.EmployeePages" />
		<mapping class="haj.com.entity.UserBrowserInformation" />
		<mapping class="haj.com.entity.TempSignoff" />
		<mapping class="haj.com.entity.WspCalculationData" />
		<mapping class="haj.com.entity.SkillsRegistration" />
		<mapping class="haj.com.entity.SkillsRegistrationUnitStandards" />
		<mapping class="haj.com.entity.CategorizationData" />
		<mapping class="haj.com.entity.QualificationsCurriculumDevelopment" />
		<mapping class="haj.com.entity.SitesHistory" />
		<mapping class="haj.com.entity.CoursewareDistibution" />
		<mapping class="haj.com.entity.LearnershipDevelopmentRegistration" />
		<mapping class="haj.com.entity.WorkPlaceApprovalSites" />
		<mapping class="haj.com.entity.WorkPlaceApprovalTrades" />
		<mapping class="haj.com.entity.QdfCompany" />
		<mapping class="haj.com.entity.TrainingProviderApplication" />
		<mapping class="haj.com.entity.WorkPlaceApprovalData" />
		<mapping class="haj.com.entity.CompanyLearnersTransfer" />
		<mapping class="haj.com.entity.CompanyLearnersLostTime" />
		<mapping class="haj.com.entity.CompanyLearnersTermination" />
		<mapping class="haj.com.entity.CompanyLearnersChange" />
		<mapping class="haj.com.entity.TrainingProviderMonitoring" />
		<mapping class="haj.com.entity.CompanyLearnersTradeTest" />
		<mapping class="haj.com.entity.TrainingProviderVerfication" />
		<mapping class="haj.com.entity.TrainingProviderVerficationLearners" />
		<mapping class="haj.com.entity.SiteVisitReport" />
		<mapping class="haj.com.entity.RejectReasonMultipleSelection" />
		<mapping class="haj.com.entity.SummativeAssessmentReport" />
		<mapping class="haj.com.entity.SummativeAssessmentReportUnitStandards" />
		<mapping class="haj.com.entity.NonSetaQualificationsCompletion" />
		<mapping class="haj.com.entity.ProjectImplementationPlan" />
		<mapping class="haj.com.entity.SiteVisitReportSME" />
		<mapping class="haj.com.entity.SiteVisitReportDispute" />
		<mapping class="haj.com.entity.RejectReasonMultipleSelection" />
		<mapping class="haj.com.entity.AdministrationOfAQP" />
		<mapping class="haj.com.entity.WorkplaceMonitoring" />
		<mapping class="haj.com.entity.WorkplaceMonitoringPurposeOfSiteVisit" />
		<mapping class="haj.com.entity.WorkplaceMonitoringMitigation" />
		<mapping class="haj.com.entity.LearnerInduction" />
		<mapping class="haj.com.entity.CompanyLearnersProgress" />
		<mapping class="haj.com.entity.AdministrationOfAQPLearners" />
		<mapping class="haj.com.entity.CompanyLearnersAchievementStatusEISA" />
		<mapping class="haj.com.entity.CompanyLearnersQualificationAchievementStatus" />
		<mapping class="haj.com.entity.ActiveContracts" />
		<mapping class="haj.com.entity.ActiveContractDetail" />
		<mapping class="haj.com.entity.DgAllocationParent" />
		<mapping class="haj.com.entity.DateChangeMultipleSelection" />
		<mapping class="haj.com.entity.WorkPlaceApprovalVisitDateLog" />
		<mapping class="haj.com.entity.QualificationMultipleSelection" />
		<mapping class="haj.com.entity.SitesSme" />
		<mapping class="haj.com.entity.WpaChangeLog" />
		<mapping class="haj.com.entity.SmeQualifications" />
		<mapping class="haj.com.entity.ScheduleChangesLog" />
		<mapping class="haj.com.entity.TradeAppraisalsChecklist" />
		<mapping class="haj.com.entity.SkillsRegistrationQualificationUnitStandards" />
		<mapping class="haj.com.entity.MgVerificationDetails" />
		<mapping class="haj.com.entity.NonSetaCompany" />
		<mapping class="haj.com.entity.NonSetaCompanyUsers" />
		<mapping class="haj.com.entity.ScheduledEvent" />
		<mapping class="haj.com.entity.ScheduledEventUsers" />
		<mapping class="haj.com.entity.GpGrantBatchList" />
		<mapping class="haj.com.entity.GpGrantBatchEntry" />
		<mapping class="haj.com.entity.DetailsOfExperienceArpl" />
		<mapping class="haj.com.entity.DetailsOfTrainingArpl" />
		<mapping class="haj.com.entity.QdfCompanyUsers" />
		<mapping class="haj.com.entity.TradeTestTaskResult" />
		<mapping class="haj.com.entity.UploadTrackerAtrWsp" />
		<mapping class="haj.com.entity.MandatoryGrantDetailArchive" />
		<mapping class="haj.com.entity.FailedArchiveEntries" />
		<mapping class="haj.com.entity.JasperDownloadTracker" />
		<mapping class="haj.com.entity.RejectReasonMultipleSelectionHistory" />
		<mapping class="haj.com.entity.HostingCompanyEmployeeTemplates" />
		<mapping class="haj.com.entity.DgContractingBulkEntry" />
		<mapping class="haj.com.entity.DgContractingBulkItems" />
		<mapping class="haj.com.entity.UsersDisability" />
		<mapping class="haj.com.entity.NambDecisionHistory" />
		<mapping class="haj.com.entity.WorkplaceApprovalSkillsSet" />
		<mapping class="haj.com.entity.WorkPlaceApprovalSkillsProgramme" />
		<mapping class="haj.com.entity.WorkplaceApprovalUnitStandart" />
		<mapping class="haj.com.entity.WorkPlaceApprovalToolList" />
		<mapping class="haj.com.entity.CompletionLetter" />
		<mapping class="haj.com.entity.CompanyLearnersRatio" />
		<mapping class="haj.com.entity.CompanyLearnersDetailsChange" />
		<mapping class="haj.com.entity.AddressChange" />
		<mapping class="haj.com.entity.SetmisFile100" />
		<mapping class="haj.com.entity.SetmisFile200" />
		<mapping class="haj.com.entity.SetmisFile304" />
		<mapping class="haj.com.entity.SetmisFile400" />
		<mapping class="haj.com.entity.SetmisFile401" />
		<mapping class="haj.com.entity.SetmisFile500" />
		<mapping class="haj.com.entity.SetmisFile501" />
		<mapping class="haj.com.entity.SetmisFile502" />
		<mapping class="haj.com.entity.SetmisFile503" />
		<mapping class="haj.com.entity.SetmisFile505" />
		<mapping class="haj.com.entity.SetmisFile506" />
		<mapping class="haj.com.entity.QCTOFile01" />
		<mapping class="haj.com.entity.QCTOFile02" />
		<mapping class="haj.com.entity.QCTOFile03" />
		<mapping class="haj.com.entity.NLRDFile21" />
		<mapping class="haj.com.entity.NLRDFile22" />
		<mapping class="haj.com.entity.NLRDFile23" />
		<mapping class="haj.com.entity.NLRDFile24" />
		<mapping class="haj.com.entity.NLRDFile25" />
		<mapping class="haj.com.entity.NLRDFile26" />
		<mapping class="haj.com.entity.NLRDFile27" />
		<mapping class="haj.com.entity.NLRDFile28" />
		<mapping class="haj.com.entity.NLRDFile29" />
		<mapping class="haj.com.entity.NLRDFile30" />
		<mapping class="haj.com.entity.ExtractErrorList" />
		<mapping class="haj.com.entity.ActiveContractExtensionRequest" />
		<mapping class="haj.com.entity.ActiveContractTerminationRequest" />
		<mapping class="haj.com.entity.SetmisFile100Extracted" />
		<mapping class="haj.com.entity.SetmisFile200Extracted" />
		<mapping class="haj.com.entity.SetmisFile304Extracted" />
		<mapping class="haj.com.entity.SetmisFile400Extracted" />
		<mapping class="haj.com.entity.SetmisFile401Extracted" />
		<mapping class="haj.com.entity.SetmisFile500Extracted" />
		<mapping class="haj.com.entity.SetmisFile501Extracted" />
		<mapping class="haj.com.entity.SetmisFile502Extracted" />
		<mapping class="haj.com.entity.SetmisFile503Extracted" />
		<mapping class="haj.com.entity.SetmisFile505Extracted" />
		<mapping class="haj.com.entity.SetmisFile506Extracted" />
		<mapping class="haj.com.entity.TransactionsCompanyValidiation" />
		<mapping class="haj.com.entity.DgVerificationRejectionInformation" />
		<mapping class="haj.com.entity.ExceptionsTable" />
		<mapping class="haj.com.entity.DhetReporting" />
		<mapping class="haj.com.entity.CompanyCommunication" />
		<mapping class="haj.com.entity.WspRejectionInformation" />
		<mapping class="haj.com.entity.SDPCompany" />
		<mapping class="haj.com.entity.SDPCompanyHistory" />
		<mapping class="haj.com.entity.SarsLevyDetailCalculation" />
		<mapping class="haj.com.entity.SarsLevySchemeYearReturns" />
		<mapping class="haj.com.entity.GpBankAccountAlterAudit" />
		<mapping class="haj.com.entity.LevyDetailMgPaymentsAlterAudit" />
		<mapping class="haj.com.entity.LegacyProviderApplicationAlterationAudit" />
		<mapping class="haj.com.entity.ProjectImplementationPlanLearners" />
		<mapping class="haj.com.entity.ProviderApplicationTradeTestAssessorsLink" />
		<mapping class="haj.com.entity.CompanyLearnersIgnoreSetmis" />
		<mapping class="haj.com.entity.NsdpQuarterReporting" />
		<mapping class="haj.com.entity.CompanyLearnerUsers" />
		<mapping class="haj.com.entity.UserPermissions" />
		<mapping class="haj.com.entity.ProviderApplicationSuspensionDeActivated" />
		<mapping class="haj.com.entity.TrainingSite" />
		<mapping class="haj.com.entity.AssessorModeratorCompanySites" />
		<mapping class="haj.com.entity.LegacyProviderApplicationSiteAllocation" />
		<mapping class="haj.com.entity.SdpCompanyActions" />
		<!-- Workplace Monitoring Tables -->
		<mapping class="haj.com.entity.WorkplaceMonitoringLearnerSurvey" />
		<mapping class="haj.com.entity.WorkplaceMonitoringLearnerSurveyAnswers" />
		<mapping class="haj.com.entity.WorkplaceMonitoringDiscretionaryGrantComplianceSurvey" />
		<mapping class="haj.com.entity.WorkplaceMonitoringLearnerInduction" />
		<mapping class="haj.com.entity.WorkplaceMonitoringSiteVisit" />
		<mapping class="haj.com.entity.WorkplaceMonitoringActionPlan" />
		<mapping class="haj.com.entity.WorkplaceMonitoringMitigationPlan" />
		<mapping class="haj.com.entity.WorkplaceMonitoringDgMonitoring" />
		<mapping class="haj.com.entity.WorkplaceMonitoringSiteVisit" />
		<mapping class="haj.com.entity.WorkplaceMonitoringLearnerPayments" />
		<!-- Wsp History Tables -->
		<mapping class="haj.com.entity.WspCompanyMainHistory" />
		<mapping class="haj.com.entity.WspCompanyAddressHistory" />
		<mapping class="haj.com.entity.WspCompanyEmployeesHistory" />
		<mapping class="haj.com.entity.WspCompanyHistory" />
		<mapping class="haj.com.entity.WspCompanyTrainingComitteeHistory" />
		<mapping class="haj.com.entity.WspSdfCompanyHistory" />
		<!-- QMR Reporting Tables -->
		<mapping class="haj.com.entity.QmrFinYears" />
		<mapping class="haj.com.entity.QmrLearnershipData" />
		<mapping class="haj.com.entity.QmrBursaryData" />
		<mapping class="haj.com.entity.QmrSkillsProgrammeData" />
		<mapping class="haj.com.entity.QmrInternshipData" />
		<mapping class="haj.com.entity.QmrArtisanData" />
		<mapping class="haj.com.entity.QmrCandidacyProgrammeData" />
		<mapping class="haj.com.entity.QmrRPLData" />
		<mapping class="haj.com.entity.QmrTVETData" />
		<mapping class="haj.com.entity.QmrUniversityStudentData" />
		<mapping class="haj.com.entity.QmrLecturerDevelopmentData" />
		<mapping class="haj.com.entity.QmrAETProgrammeData" />
		<mapping class="haj.com.entity.QmrIndividualUnitStandardData" />
		<mapping class="haj.com.entity.WorkPlaceApprovalMentors" />
		<mapping class="haj.com.entity.WithdrawReasonMultipleSelection" />
		<!-- LOOKUP TABLES -->
		<mapping class="haj.com.entity.lookup.AreaForImprovement" />
		<mapping class="haj.com.entity.lookup.AbetBand" />
		<mapping class="haj.com.entity.lookup.AlternativeIdType" />
		<mapping class="haj.com.entity.lookup.CitizenResidentStatus" />
		<mapping class="haj.com.entity.lookup.CommunicatingRating" />
		<mapping class="haj.com.entity.lookup.Designation" />
		<mapping class="haj.com.entity.lookup.DesignationStructureStatus" />
		<mapping class="haj.com.entity.lookup.DisabilityStatus" />
		<mapping class="haj.com.entity.lookup.EconomicStatus" />
		<mapping class="haj.com.entity.lookup.EmployerApprovalStatus" />
		<mapping class="haj.com.entity.lookup.EnrolmentStatus" />
		<mapping class="haj.com.entity.lookup.EnrolmentStatusReason" />
		<mapping class="haj.com.entity.lookup.EnrolmentType" />
		<mapping class="haj.com.entity.lookup.Equity" />
		<mapping class="haj.com.entity.lookup.Funding" />
		<mapping class="haj.com.entity.lookup.HearingRating" />
		<mapping class="haj.com.entity.lookup.HonoursClassification" />
		<mapping class="haj.com.entity.lookup.InternshipStatus" />
		<mapping class="haj.com.entity.lookup.InstitutionType" />
		<mapping class="haj.com.entity.lookup.Language" />
		<mapping class="haj.com.entity.lookup.LearnerAchievementStatus" />
		<mapping class="haj.com.entity.lookup.LearnerAchievementType" />
		<mapping class="haj.com.entity.lookup.Learnership" />
		<mapping class="haj.com.entity.lookup.Nationality" />
		<mapping class="haj.com.entity.lookup.NonNqfIntervStatus" />
		<mapping class="haj.com.entity.lookup.NqfDesigStatus" />
		<mapping class="haj.com.entity.lookup.Ofo" />
		<mapping class="haj.com.entity.lookup.PartOf" />
		<mapping class="haj.com.entity.lookup.PopiActStatus" />
		<mapping class="haj.com.entity.lookup.ProviderAccredStatus" />
		<mapping class="haj.com.entity.lookup.ProviderAccreditAssessor" />
		<mapping class="haj.com.entity.lookup.ProviderClass" />
		<mapping class="haj.com.entity.lookup.ProviderStatus" />
		<mapping class="haj.com.entity.lookup.ProviderType" />
		<mapping class="haj.com.entity.lookup.QualificationType" />
		<mapping class="haj.com.entity.lookup.RememberingRating" />
		<mapping class="haj.com.entity.lookup.SICCode" />
		<mapping class="haj.com.entity.lookup.STATSSAAreaCode" />
		<mapping class="haj.com.entity.lookup.SeeingRating" />
		<mapping class="haj.com.entity.lookup.SelfcaringRating" />
		<mapping class="haj.com.entity.lookup.Seta" />
		<mapping class="haj.com.entity.lookup.SocioeconomicStatusCode" />
		<mapping class="haj.com.entity.lookup.StructureStatus" />
		<mapping class="haj.com.entity.lookup.Subdomain" />
		<mapping class="haj.com.entity.lookup.Subfield" />
		<mapping class="haj.com.entity.lookup.TradeTestResult" />
		<mapping class="haj.com.entity.lookup.UrbalRural" />
		<mapping class="haj.com.entity.lookup.WalkingRating" />
		<mapping class="haj.com.entity.lookup.Chamber" />
		<mapping class="haj.com.entity.lookup.SDFType" />
		<mapping class="haj.com.entity.lookup.Roles" />
		<mapping class="haj.com.entity.lookup.Gender" />
		<mapping class="haj.com.entity.lookup.TaskRejectionContents" />
		<mapping class="haj.com.entity.lookup.CompanyUserPosition" />
		<mapping class="haj.com.entity.lookup.EmploymentType" />
		<mapping class="haj.com.entity.lookup.Bank" />
		<mapping class="haj.com.entity.lookup.Title" />
		<mapping class="haj.com.entity.lookup.OccupationCategory" />
		<mapping class="haj.com.entity.lookup.ScarcityReason" />
		<mapping class="haj.com.entity.lookup.InterventionType" />
		<mapping class="haj.com.entity.lookup.InterventionLevel" />
		<mapping class="haj.com.entity.lookup.Qualification" />
		<mapping class="haj.com.entity.lookup.SaqaQualification" />
		<mapping class="haj.com.entity.lookup.SaqaUsQualification" />
		<mapping class="haj.com.entity.lookup.SaqaUnitstandard" />
		<mapping class="haj.com.entity.lookup.SaqaSpecificOutcome" />
		<mapping class="haj.com.entity.lookup.UnitStandards" />
		<mapping class="haj.com.entity.lookup.WspHistoricData" />
		<mapping class="haj.com.entity.lookup.QualificationToolList" />
		<mapping class="haj.com.entity.lookup.LearnershipDataUpload" />
		<mapping class="haj.com.entity.lookup.MailingList" />
		<mapping class="haj.com.entity.lookup.DesignatedTradeLevelItems" />
		<mapping class="haj.com.entity.lookup.LearnershipUnitStandards" />
		<mapping class="haj.com.entity.lookup.GrantOfoSelection" />
		<mapping class="haj.com.entity.lookup.QualificationUnitStandards" />
		<mapping class="haj.com.entity.lookup.SdpType" />
		<mapping class="haj.com.entity.lookup.PostCodeLink" />
		<mapping class="haj.com.entity.lookup.DgLegacyPayments" />
		<mapping class="haj.com.entity.lookup.QualificationToolKit" />
		<mapping class="haj.com.entity.lookup.TvetFetQualification" />
		<!-- SAQA AND US TEMP -->
		<mapping class="haj.com.entity.lookup.temp.QualificationTemp" />
		<mapping class="haj.com.entity.lookup.temp.SaqaQualificationTemp" />
		<mapping class="haj.com.entity.lookup.temp.SaqaUsQualificationTemp" />
		<mapping class="haj.com.entity.lookup.temp.SaqaUnitstandardTemp" />
		<mapping class="haj.com.entity.lookup.temp.SaqaSpecificOutcomeTemp" />
		<mapping class="haj.com.entity.lookup.temp.UnitStandardsTemp" />
		<!-- SAQA AND US TEMP -->
		<mapping class="haj.com.entity.lookup.Etqa" />
		<mapping class="haj.com.entity.lookup.NqfLevels" />
		<mapping class="haj.com.entity.lookup.Glosssary" />
		<mapping class="haj.com.entity.lookup.Region" />
		<mapping class="haj.com.entity.lookup.StructureStatusID" />
		<mapping class="haj.com.entity.lookup.Country" />
		<mapping class="haj.com.entity.lookup.RejectReasons" />
		<mapping class="haj.com.entity.lookup.Institution" />
		<mapping class="haj.com.entity.lookup.FLC" />
		<mapping class="haj.com.entity.lookup.LearnerReadinessEISA" />
		<mapping class="haj.com.entity.lookup.QualificationEntryRequirement" />
		<mapping class="haj.com.entity.lookup.StatementOfResults" />
		<mapping class="haj.com.entity.lookup.WorkplaceLinked" />
		<mapping class="haj.com.entity.lookup.TrainingImpactRating" />
		<mapping class="haj.com.entity.lookup.OrganisedLabourUnion" />
		<mapping class="haj.com.entity.lookup.NQFAlignment" />
		<mapping class="haj.com.entity.lookup.MailTemplates" />
		<mapping class="haj.com.entity.lookup.InterventionTypeDescription" />
		<mapping class="haj.com.entity.lookup.GrantAmount" />
		<mapping class="haj.com.entity.lookup.TrainingDeliveryMethod" />
		<mapping class="haj.com.entity.lookup.Training" />
		<mapping class="haj.com.entity.lookup.SkillsGapTrackLookUp" />
		<mapping class="haj.com.entity.lookup.VacancyReasons" />
		<mapping class="haj.com.entity.lookup.NoHardToFillVacancies" />
		<mapping class="haj.com.entity.lookup.TrainingReportedAtrPtr" />
		<mapping class="haj.com.entity.lookup.Office" />
		<mapping class="haj.com.entity.lookup.HighestQualificationRequired" />
		<mapping class="haj.com.entity.lookup.OrganisationType" />
		<mapping class="haj.com.entity.lookup.NextRefreshYear" />
		<mapping class="haj.com.entity.lookup.PrioritisationScale" />
		<mapping class="haj.com.entity.lookup.Statuses" />
		<mapping class="haj.com.entity.lookup.RegionTown" />
		<mapping class="haj.com.entity.lookup.JobTitle" />
		<mapping class="haj.com.entity.lookup.Tool" />
		<mapping class="haj.com.entity.lookup.Town" />
		<mapping class="haj.com.entity.lookup.SkillsSet" />
		<mapping class="haj.com.entity.lookup.SkillsProgram" />
		<mapping class="haj.com.entity.lookup.UserResponsibility" />
		<mapping class="haj.com.entity.lookup.RelationshipToCompany" />
		<mapping class="haj.com.entity.lookup.ScopeOfResponsibility" />
		<mapping class="haj.com.entity.lookup.Aqp" />
		<mapping class="haj.com.entity.lookup.GPCreditors" />
		<mapping class="haj.com.entity.lookup.SizeOfCompany" />
		<mapping class="haj.com.entity.lookup.InterventionTitle" />
		<mapping class="haj.com.entity.lookup.ModulesUnitStandards" />
		<mapping class="haj.com.entity.lookup.ToolCategory" />
		<mapping class="haj.com.entity.lookup.Modules" />
		<mapping class="haj.com.entity.SupportEmails" />
		<mapping class="haj.com.entity.lookup.Ratio" />
		<mapping class="haj.com.entity.lookup.ModulesCategory" />
		<mapping class="haj.com.entity.lookup.SkillsSetUnitStandards" />
		<mapping class="haj.com.entity.lookup.SkillsProgramUnitStandards" />
		<mapping class="haj.com.entity.lookup.SkillsIdentification" />
		<mapping class="haj.com.entity.lookup.ModulesTitle" />
		<mapping class="haj.com.entity.lookup.YoutubeVideo" />
		<mapping class="haj.com.entity.lookup.ToolList" />
		<mapping class="haj.com.entity.lookup.ToolListCategory" />
		<mapping class="haj.com.entity.lookup.ToolListTools" />
		<mapping class="haj.com.entity.lookup.AuditorMonitorReview" />
		<mapping class="haj.com.entity.lookup.PurposeOfSiteVisit" />
		<mapping class="haj.com.entity.lookup.PurposeOfSiteVisitChild" />
		<mapping class="haj.com.entity.lookup.UnionMembership" />
		<mapping class="haj.com.entity.lookup.DGProjectType" />
		<mapping class="haj.com.entity.lookup.AccreditationStatus" />
		<mapping class="haj.com.entity.lookup.LearnerMonitoringSurvey" />
		<mapping class="haj.com.entity.lookup.Department" />
		<mapping class="haj.com.entity.lookup.Validity" />
		<mapping class="haj.com.entity.lookup.StakeholderRelations" />
		<mapping class="haj.com.entity.lookup.StakeholderRelationsSurvey" />
		<mapping class="haj.com.entity.lookup.AllocationList" />
		<mapping class="haj.com.entity.lookup.DateChangeReasons" />
		<mapping class="haj.com.entity.lookup.OfoQualificationLink" />
		<mapping class="haj.com.entity.lookup.DGYear" />
		<mapping class="haj.com.entity.lookup.ProjectType" />
		<mapping class="haj.com.entity.lookup.ApplicantType" />
		<mapping class="haj.com.entity.lookup.MeetingAgenda" />
		<mapping class="haj.com.entity.lookup.AppraisalCategories" />
		<mapping class="haj.com.entity.lookup.AppraisalChecklist" />
		<mapping class="haj.com.entity.lookup.Appraisals" />
		<mapping class="haj.com.entity.AllocationChangesReasons" />
		<mapping class="haj.com.entity.lookup.AllocationChange" />
		<mapping class="haj.com.entity.lookup.AppraisalCategoryCode" />
		<mapping class="haj.com.entity.lookup.DeviationReason" />
		<mapping class="haj.com.entity.lookup.NonCreditBearingIntervationTitle" />
		<mapping class="haj.com.entity.lookup.DesignatedTrade" />
		<mapping class="haj.com.entity.lookup.DesignatedTradeType" />
		<mapping class="haj.com.entity.lookup.DesignatedTradeLevel" />
		<mapping class="haj.com.entity.lookup.DisabilityRating" />
		<mapping class="haj.com.entity.lookup.MaritalStatus" />
		<mapping class="haj.com.entity.lookup.LearnerMentorRatio" />
		<mapping class="haj.com.entity.lookup.ReportGenerationSchedule" />
		<mapping class="haj.com.entity.lookup.TradeTestCentersHistoric" />
		<mapping class="haj.com.entity.lookup.QualificationTasks" />
		<mapping class="haj.com.entity.lookup.FinYearQuartersLookUp" />
		<mapping class="haj.com.entity.lookup.AetProgrammeLevel" />
		<mapping class="haj.com.entity.lookup.ReportGenerationProperties" />
		<mapping class="haj.com.entity.lookup.FinancialYears" />
		<mapping class="haj.com.entity.lookup.NsdpReportConfig" />
		<mapping class="haj.com.entity.lookup.WithdrawReasons" />
		<!-- SARS FILES -->
		<mapping class="haj.com.sars.SarsEmployerDetail" />
		<mapping class="haj.com.sars.SarsEmployerDetailAllDataFT" />
		<mapping class="haj.com.sars.SarsLevyDetails" />
		<mapping class="haj.com.sars.SarsFiles" />
		<mapping class="haj.com.sars.SarsLeviesPaid" />
		<mapping class="haj.com.sars.SarsEmployerDetailUpdateHistory" />
		<mapping class="haj.com.sars.SarsInterSetaTransferLevies" />
		<mapping class="haj.com.entity.HistoricalIntersetaTransfers" />
		<!-- CONVERSION TABLES -->
		<mapping class="haj.com.entity.datatakeon.TS1" />
		<mapping class="haj.com.entity.datatakeon.TS2" />
		<!-- <mapping class="haj.com.entity.datatakeon.TakOnUnitstandard" /> -->
		<mapping class="haj.com.saqa.qualifications.QUALIFICATION" />
		<mapping class="haj.com.saqa.qualifications.USQUALIFICATIONLINK" />
		<mapping class="haj.com.saqa.unitstandards.UNITSTANDARD" />
		<mapping class="haj.com.saqa.unitstandards.SPECIFICOUTCOME" />
		<mapping class="haj.com.entity.Tempx" />
		<!-- SAQA QUALIFICATIONS XML IMPORT TEMP -->
		<mapping class="haj.com.saqa.qualifications.QUALIFICATION_TEMP" />
		<mapping class="haj.com.saqa.qualifications.USQUALIFICATIONLINK_TEMP" />
		<mapping class="haj.com.saqa.unitstandards.SPECIFICOUTCOME_TEMP" />
		<mapping class="haj.com.saqa.unitstandards.UNITSTANDARD_TEMP" />
		<!-- REPORTS -->
		<mapping class="haj.com.bean.SarsLevyRecon" />
		<!-- SOFT DELETE EXAMPLE -->
		<mapping class="haj.com.entity.SoftDeleteExample" />
		<mapping class="haj.com.entity.SoftDeleteChildExample" />
		<mapping class="haj.com.entity.AssessorModeratorApplication" />
		<mapping class="haj.com.entity.UsersLanguage" />
		<!-- CHAT -->
		<mapping class="haj.com.entity.HostingCompanyDepartmentsChatEmployees" />
		<mapping class="haj.com.entity.ChatMessage" />
		<mapping class="haj.com.entity.SDPExtensionOfScope" />
		<!-- Views -->
		<mapping class="haj.com.entity.WspApprovalView" />
		<!-- Legacy data Look up data -->
		<mapping class="haj.com.entity.lookup.LegacyApprenticeshipTradeTest" />
		<mapping class="haj.com.entity.lookup.LegacyBursary" />
		<mapping class="haj.com.entity.lookup.LegacyEmployerWA2Workplace" />
		<mapping class="haj.com.entity.lookup.LegacyEmployerWA2Trade" />
		<mapping class="haj.com.entity.lookup.LegacyEmployerWA2Qualification" />
		<mapping class="haj.com.entity.lookup.LegacyEmployerWA2Learnership" />
		<mapping class="haj.com.entity.lookup.LegacyEmployerWA2SkillsProgramme" />
		<mapping class="haj.com.entity.lookup.LegacyEmployerWA2UnitStandard" />
		<mapping class="haj.com.entity.lookup.LegacyExperiential" />
		<mapping class="haj.com.entity.lookup.LegacyInternship" />
		<mapping class="haj.com.entity.lookup.LegacyModeratorAccreditation" />
		<mapping class="haj.com.entity.lookup.LegacyModeratorQualification" />
		<mapping class="haj.com.entity.lookup.LegacyModeratorLearnership" />
		<mapping class="haj.com.entity.lookup.LegacyModeratorSkillsProgramme" />
		<mapping class="haj.com.entity.lookup.LegacyModeratorUnitStandard" />
		<mapping class="haj.com.entity.lookup.LegacyLearnership" />
		<mapping class="haj.com.entity.lookup.LegacyApprenticeship" />
		<mapping class="haj.com.entity.lookup.LegacyDTTCApproval" />
		<mapping class="haj.com.entity.lookup.LegacyDTTCQualification" />
		<mapping class="haj.com.entity.lookup.LegacyDTTCTrade" />
		<mapping class="haj.com.entity.lookup.LegacyDTTCSkillsProgramme" />
		<mapping class="haj.com.entity.lookup.LegacyDTTCUnitStandard" />
		<mapping class="haj.com.entity.lookup.LegacyLearnershipAssessment" />
		<mapping class="haj.com.entity.lookup.LegacyLearnershipAssessment2" />
		<mapping class="haj.com.entity.lookup.LegacyLearnershipAssessment3" />
		<mapping class="haj.com.entity.lookup.LegacyAssessorAccreditation" />
		<mapping class="haj.com.entity.lookup.LegacyAssessorLearnership" />
		<mapping class="haj.com.entity.lookup.LegacyAssessorQualification" />
		<mapping class="haj.com.entity.lookup.LegacyAssessorSkillsProgramme" />
		<mapping class="haj.com.entity.lookup.LegacyAssessorUnitStandard" />
		<mapping class="haj.com.entity.lookup.LegacySECTTwentyEight" />
		<mapping class="haj.com.entity.lookup.LegacySectionTwentyEightTradeTest" />
		<mapping class="haj.com.entity.lookup.LegacySkillsProgramme" />
		<mapping class="haj.com.entity.lookup.LegacySkillsProgramme" />
		<mapping class="haj.com.entity.lookup.LegacySkillsProgrammeAssessments" />
		<mapping class="haj.com.entity.lookup.LegacyTvet" />
		<mapping class="haj.com.entity.lookup.LegacyUnitStandard" />
		<mapping class="haj.com.entity.lookup.LegacyUnitStandardAssessment" />
		<mapping class="haj.com.entity.lookup.PreviousSchools" />
		<mapping class="haj.com.entity.lookup.HomeAffairs" />
		<mapping class="haj.com.entity.LegacyReporting" />
		<mapping class="haj.com.entity.LegacyReportingParams" />
		<mapping class="haj.com.entity.LevyIncomeSummary" />
		<!-- Add organisation here -->
		<mapping class="haj.com.entity.lookup.LegacyProviderAccreditation" />
		<mapping class="haj.com.entity.lookup.LegacyProviderQualification" />
		<mapping class="haj.com.entity.lookup.LegacyProviderTrade" />
		<mapping class="haj.com.entity.lookup.LegacyProviderLearnership" />
		<mapping class="haj.com.entity.lookup.LegacyProviderSkillsProgramme" />
		<mapping class="haj.com.entity.lookup.LegacyProviderUnitStandard" />
		<mapping class="haj.com.entity.lookup.LegacyOrganisationLevyPaying" />
		<mapping class="haj.com.entity.lookup.LegacyOrganisationNonLevyPaying" />
		<mapping class="haj.com.entity.lookup.LegacyOrganisationSites" />
		<mapping class="haj.com.entity.lookup.LegacyPerson" />
		<!-- DG CHANGE REQUEST START -->
		<mapping class="haj.com.entity.lookup.DGYearLearningPrograms" />
		<mapping class="haj.com.entity.lookup.MandatoryGrantEvaluation" />
		<mapping class="haj.com.entity.MandatoryGrantWorkplace" />
		<!-- DG CHANGE REQUEST END -->
	<mapping class="haj.com.entity.StrategicPriorities"/>
	<mapping class="haj.com.entity.WspStrategicPriorities"/>
	<mapping class="haj.com.entity.WspLocations"/>
	<mapping class="haj.com.entity.PaymentRequest"/>
	<mapping class="haj.com.entity.Addenda"/>
	</session-factory>
</hibernate-configuration>
