     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="_property_" value="#{@@@UI.@@@._property_}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['_property_']}" for="_property_"/>
     							</h:panelGroup>  