@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300);

.ui-icon-calendar::before {
    
    content: "\f0d7" !important;
    font-family: FontAwesome;
}

body.main-body {
    background-color: #fff;
     background-image: url("../images/mer.jpeg");
	background-repeat: no-repeat;
background-position: right center;
background-size: 34%;
}
body {
   
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 24px;
    color: #737373;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body .ui-corner-all {
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
}
body .ui-button {
    overflow: hidden;
background-color: #fff;
color: #000;
font-size: 16px;
height: 46px;
padding: 0 16px;
border: 2px solid;
    -moz-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
     min-width:150px;
     
}
body .ui-button .ui-button-text {

    padding: 0;
    line-height: 36px;
   /*  margin-left: -24px; */

}
body .ui-button.ui-state-hover{
	background-color: #fff;
	border: 2px solid #CC9C47;
	color: #000 ;
}
.ui-menu.ui-menu-dynamic {
	min-width:238px;
    width: 14vw;
  
    background-color: #fff;


}
body .ui-button .ui-icon {
    color: #000;
    
}


body, body .ui-widget, body .ui-widget .ui-widget, body .ui-selectonemenu .ui-selectonemenu-label.ui-inputfield {
    font-family: Raleway, sans-serif;
    font-size: 15px;
    letter-spacing: .03em;
    line-height: 24px;
   color: #000;
    font-weight: 700;
    
}

body .ui-panelgrid .ui-panelgrid-cell {
    padding: 0px 0px;
}
body .ui-widget-content {
    background-color: #fff0;
    font-size: 16px;
    border: 0px solid #bdbdbd;
}

body .ui-fluid .ui-selectonemenu .ui-selectonemenu-trigger {

    margin-right: 0px;
    margin-top: 0px;
    color: aliceblue;
    background-color: #fff;
    height: 44px;
     width: 32px;
    padding: 14px 3px;
}

body .ui-corner-right {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

body .ui-inputfield {
    border-color: #bdbdbd;
    color: #737373;
}


body .ui-inputfield.name-email  {
  
    border: 2px solid #3daaff00;
    border-left-color: #03A9F433;
}
body .ui-inputfield.subscribe  {
  
    border: 2px solid #3daaff;
    background: #3daaff00
}
body .ui-inputfield.ui-state-focus.name-email { border: 2px solid #3daaff;color: #737373;}
body .ui-inputfield.ui-state-focus.subscribe{ border: 2px solid #3daaff;color: #737373;}
body .ui-inputfield.subscribe{ border: 2px solid #3daaff;color: #fff;}

body .ui-inputfield, body .ui-inputfield.ui-state-focus {
    background: #fff;
    border-width: 2px;
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    border-style: solid;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
   
}

body .ui-state-active, body .ui-state-highlight {
    background-color: #fff;
    color: #737373;
}
body .ui-state-active, body .ui-state-highlight:hover {
    background-color: #3daaff;
    color: #fff;
}

body .ui-selectonemenu {
    border: 1px solid #bdbdbd;
}



body .ui-datepicker tbody td a, body .ui-datepicker tbody td span {
    padding: .2em;
    margin: 0;
    text-align: center;
    color: #212121;
    display: inline-block;
    height: 28px;
    width: 28px;
    line-height: 28px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

body .ui-datepicker tbody td a.ui-state-active, body .ui-datepicker tbody td span.ui-state-active {
   
    background-color: #3daaff;
    color: #fff;
}
body .ui-datepicker tbody td a.ui-state-hover, body .ui-datepicker tbody td span.ui-state-hover {
   
    background-color: #3daaff;
    color: #fff;
}

body .ui-datepicker tbody td.ui-datepicker-today a, body .ui-datepicker tbody td.ui-datepicker-today span {
    color: #212121;
    background-color: #ffffff;
    border: 1px solid #3daaff;
}
body .ui-datepicker table {
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #fff;
}

.ui-datepicker th {
    padding: 0 0;
 	 background: #3daaff;
    border-color: #3daaff;
}

body .ui-datepicker .ui-datepicker-header {
    padding: 10px 16px;
    font-size: 16px;
    background: #3daaff;
    border-color: #3daaff;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}


.header {
 	    background-color: #fff;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 80%;
    z-index: 3;
    margin: 0 10vw;
    height: 80px;

}

.header ul {
  margin: 68px 0 0 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}

.header li a {
  	display: block;
	padding: 20px 20px;
	border-right: 1px solid #f4f4f4;

	color: #000;
	font-weight: 500;
	font-size: 20px;
}

.menu .menu-span{
	display: block;
	padding: 20px 20px;
	font-size: 25px;
	font-weight: 700;
	color: #000;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
 	 display: block;
float: left;
text-decoration: none;
background-image: url("../images/logo.gif")
}

/* menu */

.header .menu {
  clear:  none;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
 padding: 28px 44px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #977949;
  display: block;
  height: 6px;
  position: relative;
  transition: background .2s ease-out;
  width: 50px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #977949;
  content: '';
  display: block;
  height: 6px;
  position: absolute;
  transition: all .2s ease-out;
  width: 50px;
}

.header .menu-icon .navicon:before {
  top: -15px;
}

.header .menu-icon .navicon:after {
 top: 15px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  min-height: 85vh;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.expand-me a {
  color: black;
  text-decoration: none;
}

.no-expand {
  width: 100%;
  margin: auto;
  padding: 0;
  position: relative;
  
}

.expand-me ul {
  margin: 0;
}

.expand-me li {
  list-style-type: none;
  padding: 0 0 0 1em;
  position: relative;
}

.expand-me li a {
  padding: 1em 3em;
  display: block;
}

.five-split{
	width: 20% ;
	
}
.three-split{
	width: 33% ;
	
}
.parts{  
   
   padding: 0 0 0 0;
        padding-top: 0px;
    width: 80%;
    background-color: #fff;
    min-height:  72vh;
    border-radius: 50px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 7%;
    margin-bottom:7%;
    padding-top: 0px;
	border: 1px solid #868686;
	box-shadow: 0px 0px 5px #6c6c6c;


   
}  



.background-main{
	background-color: #fff;
    background-image: url("../images/firstLanding/landin2.png");
	background-repeat: no-repeat;
background-position: center -126px;
background-size: 100vw;
width: 100%;
height: 36vh;
margin: 0 0;
border-radius: 50px 50px 0 0;	
}



.background-rights-reserved{
	background-color: #0000;
	background-image: none;
  	background-repeat: no-repeat;
background-position: center ,center;
	background-size: 100%;
	height: 37vh;
	width: 80%;
	margin:  -60px 10vw 0;
	
}

.ui-button.menu-bars{
    overflow: hidden;
	background-color: #FFF0;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	height: 80px;
	padding: 0 16px;
	border: 0px solid;
	width: 5vw;
	min-width: 110px;

}
.fa-5x {
    font-size: 40px !important;
}
.ui-button.menu-bars:HOVER{
    overflow: hidden;
	background-color: #FFF0;
	color: #977949;;
	font-size: 16px;
	font-weight: 700;
	height: 50px;
	padding: 0 16px;
	border: 0px solid #03A9F4;
	width: 5vw;
	min-width: 110px;
    
}
body .ui-button.ui-button-icon-only {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 40px;
    height: 50px;
}
body .ui-button.ui-button-icon-only .ui-icon {
   
   
    margin-top: -19px;
   
}
/*Aesthetics start*/

/* main */
.logo-align{text-align: right;}
.merseta-logo {
    height: 14vw;
  max-height: 262px;
}
	
.become-freestylist {width: 10px; min-width: 150px;}

.own-boss-main-div {
    margin-left: 20px;
    margin-right: 20px;
  
}
.login-div:hover{
	cursor:pointer;
	/* cursor:url("./images/red.svg"); */
}
.card-div{
	
	min-height: 340px;
}
.own-boss-div{margin-top: 2;}
.own-boss {
    font-size: 310%;
    color: #fff;
    font-weight: 800;
    
     line-height: 80px;
    
    text-shadow: 2px 3px 2px #393939;
}
.round-div{
background-color: white;
width: 100px;
height: 100px;
border-radius: 50px;
box-shadow: 0px 0px 6px;
border: 1px solid #50505099;
}
.round-span{
	font-size: 64px;
font-weight: 400;
color: #000;
line-height: 84px;
}

.border-div{display: none}
.head-span{
	
	font-size: 28px;
font-weight: 400;
color: #000;
}
.content-span{
	font-size: 18px;
	font-weight: 400;
}



.coming-soon-main-div{margin-top: 17vh;}
.coming-soon-head-div{margin-left: 14vw ;}
.coming-soon-head{font-size: calc(10px + 1.5vmax);color: black;}
.coming-soon-date{font-size: calc(7px + .65vmax);color: #2B9FFD;}


/* ALL  */
.pg-head{font-size: calc(9px + 1.1vmax + 1vmin);color: #000;font-weight: 700;}	

/*Aesthetics end*/







.show1024-menu {display: none;}
.show1024	{display: none;}
.show620 {display: none;}
.mobile-show {display: none;}

@media  screen and (max-width: 1300px) {


.header {
    background-color: #fff;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    margin: 0 0;
    height: 80px;
}

.parts {

    padding: 0 0 0 0;
        padding-top: 0px;
    padding-top: 0px;
    width: 96vw;
    background-color: #fff;
    min-height: 73vh;
    border-radius: 50px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 10vh;
    padding-top: 0px;
    border: 1px solid #868686b3;
    box-shadow: 0px 0px 5px #6c6c6cb3;

}

.background-main{
	background-color: #fff;
     background-image: url("../images/firstLanding/landin2.png");
	background-repeat: no-repeat;
	background-position: center top ;
	background-size: 100vw;
	width: 100%;
   	height: 36vh;
   	margin: 0 0;
	
}



.background-rights-reserved{
	background-color: #0000;
	background-image: none;
  	background-repeat: no-repeat;
background-position: center ,center;
	background-size: 100%;
	height: 37vh;
	width: 80%;
	margin: -60px 10vw 0;
	
}



	
	
	
/*Aesthetics start*/

/* main */


.become-freestylist {width: 10px; min-width: 150px;}

.your-door-div{margin-top: 10vh;}
.your-door{font-size: calc(10px + 1.3vmax + 1.3vmin); color: #fff;font-weight: 800;}
.you-are-div{margin-top: 3vh;}
.you-are{font-size: calc(6px + .5vmax + .5vmin); color: #fff;}
.main-information-div{margin-top: 9vh;}
.main-button-div{margin-top: 4vh;}
.main-button{width:14vw ;color:#fff;}



/* Coming Soon */

.coming-soon-main-div{margin-top: 17vh;}
.coming-soon-head-div{margin-left: 14vw ;}
.coming-soon-head{font-size: calc(10px + 1.5vmax);color: black;}
.coming-soon-date{font-size: calc(7px + .65vmax);color: #2B9FFD;}
/* ALL  */
.pg-head{font-size: calc(9px + 1.1vmax + 1vmin);color: #000;font-weight: 700;}	

/*Aesthetics end*/	
	
	.own-boss-div{margin-top: 20px;}
.merseta-logo {
    height: 18vw;
  
}
.own-boss {
    font-size: 34px;
    color: #fff;
    font-weight: 800;
    
     line-height: 59px;
    
    text-shadow: 2px 3px 2px #393939;
}	
	
	
}





@media  screen and (max-width: 1024px) {
body.main-body {
    background-color: #fff;
    background-image: url("../images/mer.jpeg");
    background-repeat: no-repeat;
    background-position: right 6px;
    background-size: 60%;
}
.logo-align{
	 text-align: center;
}





.parts{  
   
   padding: 0 0 0 0;
        padding-top: 0px;
    width: 80%;
    background-color: #fff;
    min-height:  72vh;
    border-radius: 50px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 7%;
    padding-top: 0px;
	border: 1px solid #868686;
	box-shadow: 0px 0px 5px #6c6c6c;


   
}  



.background-main{
	background-color: #fff;
    background-image: url("../images/firstLanding/landinSmall.png");
	background-repeat: no-repeat;
background-position: center -126px;
background-size: 100vw;
width: 100%;
height: 36vh;
margin: 0 0;
border-radius: 50px 50px 0 0;	
}



.background-rights-reserved{
	background-color: #0000;
	background-image: none;
  	background-repeat: no-repeat;
background-position: center ,center;
	background-size: 100%;
	height: 585px;
	width: 80%;
	margin:  -60px 10vw 0;
	
}



/*Aesthetics start*/

/* main */


.become-freestylist {width: 10px; min-width: 150px;}
.your-door-div{margin-top: 10vh;}
.your-door{font-size: calc(10px + 1.3vmax + 1.3vmin); color: #fff;font-weight: 800;}
.you-are-div{margin-top: 3vh;}
.you-are{font-size: calc(6px + .5vmax + .5vmin); color: #fff;}
.main-information-div{margin-top: 9vh;}
.main-button-div{margin-top: 4vh;}
.main-button{width:14vw ;color:#fff;}

/* How it works */
.card-div{
	
	min-height: 296px;
}
	.own-boss-div{margin-top: 20px;}
.merseta-logo {
    height: 264px;
  
}
.own-boss {
    font-size: 22px;
    color: #fff;
    font-weight: 800;
    
     line-height: 50px;
    
    text-shadow: 2px 3px 2px #393939;
   	
}	
	


/* Coming Soon */

.coming-soon-main-div{margin-top: 17vh;}
.coming-soon-head-div{margin-left: 14vw ;}
.coming-soon-head{font-size: calc(10px + 1.5vmax);color: black;}
.coming-soon-date{font-size: calc(7px + .65vmax);color: #2B9FFD;}
/* ALL  */
.pg-head{font-size: calc(9px + 1.1vmax + 1vmin);color: #000;font-weight: 700;}	

/*Aesthetics end*/	
	
	
	
	
	
	
.hide1024	{display: none;}
.show1024	{display: inherit;}
.show1024-menu	{display: inherit;}	
	
	

	
.expand-me a {
  color: black;
  text-decoration: none;
}

.no-expand {
  width: 100%;
 
  padding: 0;
  position: relative;
  background-color: #0000 !important;
  
}

.expand-me ul {
  margin: 0;
}

.expand-me li {
  list-style-type: none;
  padding: 0 0 0 1em;
  position: relative;
}

.expand-me li a {
  padding: 14px 3em;
  display: block;
}

.has-sub-menu > a:after {
  position: absolute;
  display: block;
  width: 1.6em;
  height: 1.6em;
  content: '\f054';
  text-align: center;
  color: #fff;
  border-radius: 50%;
 margin-top: -25px;
  right: 19px;
  font-family: 'FontAwesome';
  font-size: 1em;
  line-height: 1.7em;
  -webkit-transition: transform .5s;
  /* Safari */
  
  transition: transform .5s;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  
  transform: rotate(0deg);
}

.has-sub-menu .expand-plus-button:after {
  -webkit-transition: transform .5s;
  /* Safari */
  
  transition: transform .5s;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  
  transform: rotate(90deg);
}

.merseta-logo {
    height: 20vw;
  
}

		
}


@media  screen and (max-width: 813px) {
	
	.mobile-hide {display: none}
	.mobile-show {display: inherit;}
	.hide1024	{display: none;}
.show1024	{display: none;}



.background-main {

    background-color: #fff;
    background-image: url("../images/firstLanding/landinSmall.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 82vw;
    width: 100%;
    height: 290px;
    margin: 0 0;

}


.background-rights-reserved{
	background-color: #0000;
	background-image: none;
  	background-repeat: no-repeat;
background-position: center ,center;
	background-size: 100%;
	height: 620px;
	width: 80%;
	margin: -60px 10vw 0;
	
}


/*Aesthetics start*/

/* main */

.become-freestylist {width: 10px; min-width: 150px;}

.your-door-div{margin-top: 1vh;}
.your-door{font-size: calc(10px + 1.3vmax + 1.3vmin); color: #fff;font-weight: 800;}
.you-are-div{margin-top: 1vh;}
.you-are{font-size: calc(6px + .5vmax + .5vmin); color: #fff;}
.main-information-div{margin-top: 3vh;}
.main-button-div{margin-top: 4vh;}
.main-button{width:14vw ;color:#fff;}


.own-boss-div{margin-top: 20px;}
.merseta-logo {
    height: 27vw;
  
}
.own-boss {
    font-size: 22px;
    color: #fff;
    font-weight: 800;
    
     line-height: 33px;
    
    text-shadow: 2px 3px 2px #393939;
   	
}	
	


/* Coming Soon */

.coming-soon-main-div{margin-top: 17vh;}
.coming-soon-head-div{margin-left: 0vw ;}
.coming-soon-head{font-size: calc(10px + 1.5vmax);color: black;}
.coming-soon-date{font-size: calc(7px + .65vmax);color: #2B9FFD;}
/* ALL  */
.pg-head{font-size: calc(9px + 1.1vmax + 1vmin);color: #000;font-weight: 700;}	

/*Aesthetics end*/	

	}
	@media  screen and (max-width: 698px) {
	.own-boss-div{margin-top: 20px;}
.merseta-logo {
    height: 30vw;
  
}	
.own-boss {
    font-size: 22px;
    color: #fff;
    font-weight: 800;
    
     line-height: 33px;
    
    text-shadow: 2px 3px 2px #393939;
   	
}	
	
	
	}
@media  screen and (max-width: 640px) {
	
	body.main-body {
    background-color: #fff;
    background-image: url("../images/mer.jpeg");
    background-repeat: no-repeat;
    background-position: right 29px;
    background-size: 114%;
}


	


body .ui-button {
    overflow: hidden;
    font-size: 16px;
    height: 45px;
    padding: 0 16px;
   
}

body, body .ui-widget, body .ui-widget .ui-widget, body .ui-selectonemenu .ui-selectonemenu-label.ui-inputfield {
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 24px;
    
}

body .ui-widget-content {
    background-color: #fff0;
    font-size: 16px;
}





body .ui-inputfield, body .ui-inputfield.ui-state-focus {

    padding: 10px 10px 10px 20px;
    font-size: 16px;

}





body .ui-datepicker tbody td a, body .ui-datepicker tbody td span {
    padding: .2em;
    display: inline-block;
    height: 28px;
    width: 28px;
    line-height: 28px;
    
}


body .ui-datepicker .ui-datepicker-header {
    padding: 10px 16px;
    font-size: 16px;
    
}
body .ui-panelgrid .ui-panelgrid-cell {
    padding: 11px 24px;
}

 

.parts{  
   
   padding: 0 0 0 0;
        padding-top: 0px;
    width: 90%;
    background-color: #fff;
    min-height:  72vh;
    border-radius: 50px;
     margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
    padding-top: 0px;
	border: 1px solid #868686;
	box-shadow: 0px 0px 5px #6c6c6c;


   
}  



.background-main{
	background-color: #fff;
    background-image: url("../images/firstLanding/landinSmall.png");
	background-repeat: no-repeat;
background-position: center -126px;
background-size: 162vw;
width: 100%;
height: 223px;
margin: 0 0;
border-radius: 50px 50px 0 0;	
}



.background-rights-reserved{
	background-color: #0000;
	background-image: none;
  	background-repeat: no-repeat;
background-position: center ,center;
	background-size: 100%;
	height: 900px;
	width: 80%;
	margin:  -60px 10vw 0;
	
}



/*Aesthetics start*/

/* main */
.logo-align{text-align: center;}

.become-freestylist {width: 10px; min-width: 150px;}

.your-door-div{margin-top: 1vh;}
.your-door{font-size: calc(10px + 1.3vmax + 1.3vmin); color: #fff;font-weight: 800;}
.you-are-div{margin-top: 1vh;}
.you-are{font-size: calc(6px + .5vmax + .5vmin); color: #fff;}
.main-information-div{margin-top: 3vh;}
.main-button-div{margin-top: 4vh;}
.main-button{width:14vw ;color:#fff;}
.own-boss-div {
    margin-top: calc(71px + 4vmax);
}
.own-boss-div{margin-top: 0;}
.merseta-logo {
    height: 29vw;
  
}	
.own-boss {
    font-size: 22px;
    color: #fff;
    font-weight: 800;
    
     line-height: 30px;
    
    text-shadow: 2px 3px 2px #393939;
   	
}	
	
.border-div{
	display:inherit;
	border-bottom: 4px solid #f0f0f0;
	margin-top: 53px;
}
/* Coming Soon */

.coming-soon-main-div{margin-top: 17vh;}
.coming-soon-head-div{margin-left: 0vw ;}
.coming-soon-head{font-size: calc(10px + 1.5vmax);color: black;}
.coming-soon-date{font-size: calc(7px + .65vmax);color: #2B9FFD;}

.pg-head{font-size: calc(9px + 1.1vmax + 1vmin);color: #000;font-weight: 700;}	





.show620 {display: inherit;}	
	
	
	
	
	
}
@media  screen and (max-width: 433px) {
	
.own-boss-div{margin-top: 20px;}
.merseta-logo {
    height: 29vw;
  
}	
.own-boss {
    font-size: 16px;
    color: #fff;
    font-weight: 800;
    
     line-height: 26px;
    
    text-shadow: 2px 3px 2px #393939;
   	
}	
	
	
}
@media  screen and (max-width: 420px) {



	


body .ui-button {
    overflow: hidden;
    font-size: 15px;
    height: 45px;
    padding: 0 16px;
   
}

body, body .ui-widget, body .ui-widget .ui-widget, body .ui-selectonemenu .ui-selectonemenu-label.ui-inputfield {
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 24px;
    
}

body .ui-widget-content {
    background-color: #fff0;
    font-size: 15px;
    width: 99vw !important;
}





body .ui-inputfield, body .ui-inputfield.ui-state-focus {

    padding: 10px 10px 10px 20px;
    font-size: 15px;

}





body .ui-datepicker tbody td a, body .ui-datepicker tbody td span {
    padding: .2em;
    display: inline-block;
    height: 28px;
    width: 28px;
    line-height: 28px;
    
}


body .ui-datepicker .ui-datepicker-header {
    padding: 10px 16px;
    font-size: 16px;
    
}

.menu span{
	display: block;
	padding: 5px 0;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	text-align: center;
}

.parts{  
   
   padding: 0 0 0 0;
        padding-top: 0px;
    width: 90%;
    background-color: #fff;
    min-height:  72vh;
    border-radius: 50px;
     margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
    padding-top: 0px;
	border: 1px solid #868686;
	box-shadow: 0px 0px 5px #6c6c6c;


   
}  



.background-main{
	background-color: #fff;
    background-image: url("../images/firstLanding/landinSmall.png");
	background-repeat: no-repeat;
background-position: center -126px;
background-size: 212vw;
width: 100%;
height: 366px;
margin: 0 0;
border-radius: 50px 50px 0 0;	
}



.background-rights-reserved{
	background-color: #0000;
	background-image: none;
  	background-repeat: no-repeat;
background-position: center ,center;
	background-size: 100%;
	height: 900px;
	width: 80%;
	margin:  -60px 10vw 0;
	
}

/*Aesthetics start*/

/* main */
.logo-align{text-align: center;}

.become-freestylist {width: 10px; min-width: 150px;}

.your-door-div{margin-top: 1vh;}
.your-door{font-size: 20px; color: #fff;font-weight: 800;}
.you-are-div{margin-top: 1vh;}
.you-are{font-size: 15px; color: #fff;}
.main-information-div{margin-top: 3vh;}
.main-button-div{margin-top: 4vh;}
.main-button{width:14vw ;color:#fff;}


/* Coming Soon */

.coming-soon-main-div{margin-top: 17vh;}
.coming-soon-head-div{margin-left: 0vw ;}
.coming-soon-head{font-size: 20px;color: black;}
.coming-soon-date{font-size: 15px;color: #2B9FFD;}
/* ALL  */
.pg-head{font-size: 20px;color: #000;font-weight: 700;}	

/*Aesthetics end*/	
		
.own-boss-div{margin-top: 0;}
.merseta-logo {
    height: 29vw;
  
}	
.own-boss {
    font-size: 21px;
    color: #fff;
    font-weight: 800;
    
     line-height: 32px;
    
    text-shadow: 2px 3px 2px #393939;
   	
}	
	
	
}
@media  screen and (max-width: 374px) {
.parts{  
   
   padding: 0 0 0 0;
        padding-top: 0px;
    width: 90%;
    background-color: #fff;
    min-height:  72vh;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
    padding-top: 0px;
	border: 1px solid #868686;
	box-shadow: 0px 0px 5px #6c6c6c;
margin-bottom: 16%;

   
}  



.background-main{
	background-color: #fff;
    background-image: url("../images/firstLanding/landinSmall.png");
	background-repeat: no-repeat;
background-position: center -126px;
background-size: 212vw;
width: 100%;
height: 240px;
margin: 0 0;
border-radius: 50px 50px 0 0;	
}



.background-rights-reserved{
	background-color: #0000;
	background-image: none;
  	background-repeat: no-repeat;
background-position: center ,center;
	background-size: 100%;
	height: 930px;
	width: 80%;
	margin:  -60px 10vw 0;
	
}

.own-boss-div{margin-top: 0;}
.merseta-logo {
    height: 30vw;
  
}
.own-boss {
    font-size: 17px;
    color: #fff;
    font-weight: 800;
    
     line-height: 12px;
    
    text-shadow: 2px 3px 2px #393939;
   	
}	
	
	
}
@media  screen and (max-width: 320px) {


	


body .ui-button {
    overflow: hidden;
    font-size: 15px;
    height: 45px;
    padding: 0 16px;
   
}

body, body .ui-widget, body .ui-widget .ui-widget, body .ui-selectonemenu .ui-selectonemenu-label.ui-inputfield {
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 24px;
    
}

body .ui-widget-content {
    background-color: #fff0;
    font-size: 15px;
    width: 99vw !important;
}





body .ui-inputfield, body .ui-inputfield.ui-state-focus {

    padding: 10px 10px 10px 20px;
    font-size: 15px;

}





body .ui-datepicker tbody td a, body .ui-datepicker tbody td span {
    padding: .2em;
    display: inline-block;
    height: 28px;
    width: 28px;
    line-height: 28px;
    
}


body .ui-datepicker .ui-datepicker-header {
    padding: 10px 16px;
    font-size: 16px;
    
}

 



.parts{  
   
   padding: 0 0 0 0;
        padding-top: 0px;
    width: 90%;
    background-color: #fff;
    min-height:  72vh;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
    padding-top: 0px;
	border: 1px solid #868686;
	box-shadow: 0px 0px 5px #6c6c6c;


   
}  



.background-main{
	background-color: #fff;
    background-image: url("../images/firstLanding/landinSmall.png");
	background-repeat: no-repeat;
background-position: center -126px;
background-size: 260vw;
width: 100%;
height: 366px;
margin: 0 0;
border-radius: 50px 50px 0 0;	
}



.background-rights-reserved{
	background-color: #0000;
	background-image: none;
  	background-repeat: no-repeat;
background-position: center ,center;
	background-size: 100%;
	height: 940px;
	width: 80%;
	margin:  -60px 10vw 0;
	
}




/*Aesthetics start*/

/* main */
.logo-align{text-align: left;}
.become-freestylist {width: 10px; min-width: 150px;}

.your-door-div{margin-top: 1vh;}
.your-door{font-size: 20px; color: #fff;font-weight: 800;}
.you-are-div{margin-top: 1vh;}
.you-are{font-size: 15px; color: #fff;}
.main-information-div{margin-top: 3vh;}
.main-button-div{margin-top: 4vh;}
.main-button{width:14vw ;color:#fff;}



/* Coming Soon */

.coming-soon-main-div{margin-top: 17vh;}
.coming-soon-head-div{margin-left: 0vw ;}
.coming-soon-head{font-size: 20px;color: black;}
.coming-soon-date{font-size: 15px;color: #2B9FFD;}
/* ALL  */
.pg-head{font-size: 20px;color: #000;font-weight: 700;}	

/*Aesthetics end*/	
		
	

.color-change{
    background: #03A9F4 !important;
    height: 68px;
     -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.color-change2{
   height: 57px;
-webkit-transition: all 0.8s ease-in;
transition: all 0.8s ease-in;
background-image: url("../img/freestyleLogoW.png");
background-repeat: no-repeat;
background-position: center top;
background-size: calc( 117px + 3vmax );
width: 203px;
	
	
}




.scroll-hide{display: none !important;}


.own-boss-div{margin-top: 0;}
.merseta-logo {
    height: 30vw;
  
}
.own-boss {
    font-size: 21px;
    color: #fff;
    font-weight: 800;
    
     line-height: 12px;
    
    text-shadow: 2px 3px 2px #393939;
   	
}
	

}























