$primaryColor: #977949;
$primaryDarkColor: #CC9C47;
$primaryLightColor: #F0C475;
$accentColor: #C94135;
$accentDarkColor: #7E0B02;
$accentLightColor: #FF978F;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';